.nav-link{
  margin-left: 70px;
}
.btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
#gioithieu{
  width: 50%;
  margin-top: 60px;
  margin-left: 5%;
}
.title{
  font-size: 10;
}
.div_left{
  float: left;
}
/* search */
.search{
  position: relative;
  }
  .search input{
   height: 60px;
   border: 2px solid #d6d4d4;
   border-radius: 30px;
  }
  .search input:focus{
   box-shadow: none;
   border: 2px solid black;
  }
  .search button{
  border-radius: 30px;
   position: absolute;
   top: 5px;
   right: 5px;
   height: 50px;
   width: 110px;
   background: gray;
  }
  .searchplz{
    margin-top: 7%;
  }